@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
main .MenuResto .btn, main .MenuResto, main .SectionFonct, main .SectionTop, main .SectionSearch, header {
  display: grid;
  align-items: center;
  justify-content: center;
}

main .MenuResto h3::after {
  border-bottom: 3px #99E2D0 solid;
  content: "";
  display: block;
  width: 3em;
}

header {
  padding: 1em;
  position: relative;
}
header h1 {
  font-family: "Shrikhand", cursive;
}
header a {
  position: absolute;
  top: 2em;
  left: 3em;
}

main {
  font-family: "Roboto", sans-serif;
}
main .SectionSearch {
  padding: 1em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, rgb(234, 234, 234) 100%);
}
main .SectionSearch i {
  padding: 0 0.5em 0 0;
}
main .SectionTop {
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
main .SectionTop h2 {
  padding: 0 5em;
}
main .SectionTop p {
  padding: 1em 5em 2em;
}
main .SectionTop a {
  width: 30%;
  margin: auto;
}
main .SectionFonct {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}
@media screen and (min-width: 768px) {
  main .SectionFonct {
    padding: 0em 10rem 3rem 10rem;
  }
}
@media screen and (min-width: 1236px) {
  main .SectionFonct {
    padding: 0em 10rem 3rem 10rem;
  }
}
main .SectionFonct h2 {
  padding: 2em 0;
}
main .SectionFonct ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin: 1em 1em 0;
  counter-reset: Fonctcompteur;
}
@media screen and (min-width: 768px) {
  main .SectionFonct ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1236px) {
  main .SectionFonct ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
main .SectionFonct ul li p {
  display: inline-block;
  position: relative;
  left: -0.5em;
}
main .SectionFonct ul li i {
  padding: 0 1em 0 0;
}
main .SectionFonct ul li::before {
  position: relative;
  left: -2em;
  counter-increment: Fonctcompteur;
  content: counter(Fonctcompteur);
  padding: 0.3em 0.6em;
  border-radius: 70%;
  color: white;
  background-color: #9356DC;
}
main .SectionFonct ul li:hover {
  background-color: #f2eafb;
}
main .SectionFonct ul li:hover i {
  color: #9356DC;
}
main .SectionResto {
  background: #e2e2e2;
}
@media screen and (min-width: 768px) {
  main .SectionResto {
    padding: 1em 10rem;
  }
}
@media screen and (min-width: 1236px) {
  main .SectionResto {
    padding: 1em 10rem;
  }
}
main .SectionResto ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  padding-top: 3em;
}
@media screen and (min-width: 768px) {
  main .SectionResto ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1236px) {
  main .SectionResto ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
main .SectionResto ul li {
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
}
main .SectionResto ul li .cardImg {
  height: 10em;
  position: relative;
}
main .SectionResto ul li .cardImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
main .SectionResto ul li .cardImg .NewResto {
  background: #99e2d0;
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 9px;
  color: #008766;
}
main .SectionResto ul li .cardInfo {
  display: grid;
  position: relative;
}
main .SectionResto ul li .cardInfo h3, main .SectionResto ul li .cardInfo p {
  padding-left: 20px;
}
main .SectionResto ul li .cardInfo h3 {
  padding-top: 20px;
}
main .SectionResto ul li .cardInfo p {
  padding-bottom: 20px;
}
main .SectionResto ul li .cardInfo .cardFav {
  position: absolute;
  right: 1em;
  top: 2em;
}
main .MenuResto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  main .MenuResto {
    padding: 0;
  }
}
@media screen and (min-width: 1236px) {
  main .MenuResto {
    padding: 0;
  }
}
main .MenuResto__img {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 20em;
  object-fit: cover;
}
main .MenuResto__menu {
  padding: 2em 1em 0;
  border-radius: 3em 3em 0 0;
  background-color: #e2e2e2;
}
@media screen and (min-width: 768px) {
  main .MenuResto__menu {
    margin: 0 7rem;
    padding: 2em 4em;
  }
}
@media screen and (min-width: 1236px) {
  main .MenuResto__menu {
    margin: 0 7rem;
    padding: 2em 4em;
  }
}
main .MenuResto h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  position: relative;
}
main .MenuResto h2 i {
  padding-left: 1em;
}
main .MenuResto h3 {
  text-transform: uppercase;
}
main .MenuResto ul {
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
}
main .MenuResto ul li {
  padding: 1em;
  background: white;
  margin: 1em 0;
  position: relative;
  overflow: hidden;
}
main .MenuResto ul li strong {
  position: absolute;
  right: 1em;
  bottom: 1em;
  transition: all 0.5s;
}
main .MenuResto ul li span {
  position: absolute;
  top: 0;
  right: -5rem;
  width: 5rem;
  height: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #99e2d0;
  transition: all 0.5s;
}
main .MenuResto ul li span .fa-check-circle {
  transform: rotate(-360deg);
  transition: all 0.5s;
}
main .MenuResto ul li:hover {
  transition: all 0.5s;
}
main .MenuResto ul li:hover strong {
  transition: 0.5s;
  right: 6.5rem;
}
main .MenuResto ul li:hover span {
  right: 0;
  transition: 0.5s;
}
main .MenuResto ul li:hover span i {
  transform: rotate(0deg);
}
main .MenuResto .btn {
  width: 13%;
  margin: auto;
}

footer {
  background-color: #353535;
  padding: 1em;
}
footer .SectionFooter {
  color: white;
}
footer .SectionFooter h2 {
  font-family: "Shrikhand";
  font-style: italic;
  color: white;
  font-weight: 400;
  font-size: 18px;
  order: 1;
  padding: 0 0 1rem 0;
}
footer .SectionFooter ul {
  display: grid;
}
footer .SectionFooter ul li {
  padding: 0 0 0.3rem 0;
}
footer .SectionFooter ul li i {
  padding: 0 1em 0 0;
}
@media screen and (min-width: 768px) {
  footer .SectionFooter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2rem 0 0 0;
  }
  footer .SectionFooter h2 {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
  footer .SectionFooter ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 3em 0 0;
  }
  footer .SectionFooter ul li {
    padding: 0;
  }
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 350ms;
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.cardFav .cardFav-away,
.RestoFav .cardFav-away {
  display: block;
  transform: scale(1);
  transition: all 1s;
  font-size: x-large;
}
.cardFav .cardFav-hover,
.RestoFav .cardFav-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 1s;
  font-size: x-large;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

.cardFav:hover .cardFav-away,
.RestoFav:hover .cardFav-away {
  opacity: 0;
  transform: scale(0);
}
.cardFav:hover .cardFav-hover,
.RestoFav:hover .cardFav-hover {
  opacity: 1;
  transform: scale(1);
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}
