footer {
    background-color: $grioms-sbre;
    padding: 1em;

    & .SectionFooter {
        color: white;

        & h2 {
            font-family: 'Shrikhand';
            font-style: italic;
            color: white;
            font-weight: 400;
            font-size: 18px;
            order: 1;
            padding: 0 0 1rem 0;
        }

        & ul {
            display: grid;

            & li {
                padding: 0 0 0.3rem 0;

                i {
                    padding: 0 1em 0 0;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {

        & .SectionFooter {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 2rem 0 0 0;

            & h2 {
                display: flex;
                justify-content: flex-end;
                padding: 0;
            }

            & ul {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                padding: 0 3em 0 0;

                & li {
                    padding: 0;
                }
            }
        }
    }
}