main {
    font-family: 'Roboto', sans-serif;

    & .SectionSearch {
        @extend %centerElement;
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        & i {
            padding: 0 0.5em 0 0;
        }
    }

    & .SectionTop {
        @extend %centerElement;
        padding: 2em 0 3em;
        background: #f6f6f6;
        text-align: center;

        & h2 {
            padding: 0 5em;
        }

        & p {
            padding: 1em 5em 2em;
        }

        & a {
            width: 30%;
            margin: auto;
        }
    }

    & .SectionFonct {
        @extend %centerElement;
        @include grid-template(1);
        padding: 3em 1em;

        @media screen and (min-width: $responsive-tablette) {
            padding: 0em 10rem 3rem 10rem;
        }


        @media screen and (min-width: $responsive-desktop) {
            padding: 0em 10rem 3rem 10rem;
        }

        & h2 {
            padding: 2em 0;
        }

        & ul {
            @include grid-template(1);
            gap: 2em;
            margin: 1em 1em 0;
            counter-reset: Fonctcompteur;

            @media screen and (min-width: $responsive-tablette) {
                @include grid-template(2);
            }


            @media screen and (min-width: $responsive-desktop) {
                @include grid-template(3);
            }

            & li {

                & p {
                    display: inline-block;
                    position: relative;
                    left: -0.5em;
                }

                & i {
                    padding: 0 1em 0 0;
                }
            }

            & li::before {
                position: relative;
                left: -2em;
                counter-increment: Fonctcompteur;
                content: counter(Fonctcompteur);
                padding: .3em .6em;
                border-radius: 70%;
                color: white;
                background-color: $violet-primaire;

            }

            & li:hover {
                background-color: lighten($violet-primaire, 35%);

                & i {
                    color: $violet-primaire;
                }
            }
        }

    }

    & .SectionResto {
        background: $gris-clair;

        @media screen and (min-width: $responsive-tablette) {
            padding: 1em 10rem;
        }


        @media screen and (min-width: $responsive-desktop) {
            padding: 1em 10rem;
        }

        & ul {
            @include grid-template(1);
            gap: 2em;
            padding-top: 3em;

            @media screen and (min-width: $responsive-tablette) {
                @include grid-template(2);
            }


            @media screen and (min-width: $responsive-desktop) {
                @include grid-template(2);
            }

            & li {
                background: #FFFFFF;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                position: relative;

                & .cardImg {
                    height: 10em;
                    position: relative;

                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 20px 20px 0 0;
                    }

                    & .NewResto {
                        background: $vert-clair;
                        position: absolute;
                        right: 1em;
                        top: 1em;
                        padding: 9px;
                        color: $txt-fond-vert;
                    }
                }

                & .cardInfo {
                    display: grid;
                    position: relative;

                    & h3,
                    & p {
                        padding-left: 20px;
                    }

                    & h3 {
                        padding-top: 20px;
                    }

                    & p {
                        padding-bottom: 20px;
                    }

                    & .cardFav {
                        position: absolute;
                        right: 1em;
                        top: 2em;
                    }
                }
            }


        }

    }

    & .MenuResto {

        @extend %centerElement;
        @include grid-template(1);
        padding: 0 0 3em;
        background-color: #f6f6f6;

        @media screen and (min-width: $responsive-tablette) {
            padding: 0;
        }


        @media screen and (min-width: $responsive-desktop) {
            padding: 0;
        }

        &__img {
            margin: 0 0 -5em 0;
            width: 100%;
            height: 20em;
            object-fit: cover;
        }

        &__menu {
            padding: 2em 1em 0;
            border-radius: 3em 3em 0 0;
            background-color: $gris-clair;

            @media screen and (min-width: $responsive-tablette) {
                margin: 0 7rem;
                padding: 2em 4em;
            }


            @media screen and (min-width: $responsive-desktop) {
                margin: 0 7rem;
                padding: 2em 4em;
            }

        }

        & h2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: 'Shrikhand', cursive;
            position: relative;

            & i {
                padding-left: 1em;
            }
        }

        & h3 {
            @extend %border-bottom-h3;
            text-transform: uppercase;
        }

        & ul {
            padding-bottom: 2em;
            @include grid-template(1);
            grid-gap: 0.5em;

            & li {
                padding: 1em;
                background: white;
                margin: 1em 0;
                position: relative;
                overflow: hidden;

                & strong {
                    position: absolute;
                    right: 1em;
                    bottom: 1em;
                    transition: all 0.5s;
                }

                & span {
                    position: absolute;
                    top: 0;
                    right: -5rem;
                    width: 5rem;
                    height: 100%;
                    font-size: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background: $vert-clair;
                    transition: all 0.5s;

                    & .fa-check-circle {
                        transform: rotate(-360deg);
                        transition: all 0.5s;
                    }
                }
            }

            & li:hover {
                transition: all 0.5s;


                & strong {
                    transition: 0.5s;
                    right: 6.5rem;
                }

                & span {
                    right: 0;
                    transition: 0.5s;

                    & i {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        & .btn {
            @extend %centerElement;
            width: 13%;
            margin: auto;
        }
    }
}